app:
  build: ./
  container_name: "startx-db-tools"
  links:
    - db-mysql
    - db-couchbase
  environment:
   - MYSQL_HOST=db-mysql
   - MYSQL_USER=root
   - MYSQL_PASSWORD=root
   - MYSQL_DATABASE=dev
   - MYSQL_DATABASE_USER=dev
   - MYSQL_DATABASE_PASSWORD=dev
   - MYSQL_DUMP_DIR=/data/mysql-dump
   - MYSQL_DUMP_ISEXTENDED=true
   - COUCHBASE_HOST=db-couchbase
   - COUCHBASE_USER=dev
   - COUCHBASE_PASSWORD=dev
   - COUCHBASE_BUCKET=dev
   - COUCHBASE_DUMP_DIR=/data/couchbase-dump
  volumes:
    - "./mounts/couchbase-dump:/data/couchbase-dump:Z"
    - "./mounts/mysql-dump:/data/mysql-dump:Z"
#    - "./tools.sh:/bin/sxv4_api_tools:Z"
  command: ["init"]

db-mysql:
  image: mariadb:latest
  container_name: "startx-db-tools_mysql"
  environment:
   - MYSQL_ROOT_PASSWORD=root
   
db-couchbase:
  image: couchbase
  container_name: "startx-db-tools_couchbase"
  ports:
    - 8091-8094:8091-8094
    - 11210:11210

pma:
  image: phpmyadmin/phpmyadmin
  container_name: "startx-db-tools_pma"
  links:
    - db-mysql:db
  environment:
   - PMA_HOST=db
   - PMA_USER=root
   - PMA_PASSWORD=root
   - PMA_VERBOSE=true
   - PMA_PORT=3306
   - PMA_ABSOLUTE_URI=http://localhost:1901
  ports:
    - "1901:80"