app:
  extends:
    file: docker-compose-abstract.yml
    service: app
  container_name: "startx-db-tools"
  links:
    - db-mysql:dbm
    - db-couchbase:dbc
  environment:
   - MYSQL_DATABASE=demo,demo2
   - MYSQL_ADMIN=root:rootPassword
   - MYSQL_USERS=demo:pwd,user3:pwd3,test
   - COUCHBASE_ADMIN=demo:password
   - COUCHBASE_BUCKET=demo,demo2
  volumes:
    - "./sample/dump:/dump:z"
    - "./sample/backup:/backup:z"
    - "./bin/sx-dbtools:/bin/sx-dbtools:z"
    - "./bin/lib:/bin/sx-dbtools-lib:z"
  command: ["import","mysql"]

db-mysql:
  extends:
    file: docker-compose-abstract.yml
    service: db-mysql
  container_name: "startx-db-tools_mysql"
  environment:
   - MYSQL_ROOT_PASSWORD=rootPassword
   
db-couchbase:
  extends:
    file: docker-compose-abstract.yml
    service: db-couchbase
  container_name: "startx-db-tools_couchbase"

pma:
  extends:
    file: docker-compose-abstract.yml
    service: pma
  container_name: "startx-db-tools_pma"
  links:
    - db-mysql:db
  environment:
   - PMA_HOST=db
   - PMA_USER=root
   - PMA_PASSWORD=rootPassword