app:
  build: ./
  environment:
   - MYSQL_ADMIN=root:rootPassword
  command: ["create"]

db-mysql:
  image: mariadb:5.5
  environment:
   - MYSQL_ROOT_PASSWORD=rootPassword
   
db-couchbase:
  image: couchbase:enterprise-5.0.1
  ports:
    - 8091-8094:8091-8094
    - 11210:11210

pma:
  image: phpmyadmin/phpmyadmin
  environment:
   - PMA_USER=root
   - PMA_PASSWORD=rootPassword
   - PMA_VERBOSE=true
   - PMA_PORT=3306
   - PMA_ABSOLUTE_URI=http://localhost:1901
  ports:
    - "1901:80"