app:
  image: startx/db-tools:latest
  links:
    - db-mysql:dbm
    - db-couchbase:dbc
  environment:
   - MYSQL_DATABASE=demo
   - MYSQL_USERS=my_user:my_pwd
   - COUCHBASE_ADMIN=admin
   - COUCHBASE_PASSWORD=admin_pwd
   - COUCHBASE_BUCKET=demo
  command: ["init"]

db-mysql:
  image: mariadb:5.5
  container_name: "sx-dbtools_mysql"
  environment:
   - MYSQL_ROOT_PASSWORD=root_pwd
   
db-couchbase:
  image: couchbase:enterprise-5.0.1
  container_name: "sx-dbtools_couchbase"
  ports:
    - 8091-8094:8091-8094
    - 11210:11210

pma:
  image: phpmyadmin/phpmyadmin
  container_name: "sx-dbtools_pma"
  links:
    - db-mysql:db
  environment:
   - PMA_HOST=db
   - PMA_USER=root
   - PMA_PASSWORD=root_pwd
   - PMA_ABSOLUTE_URI=http://localhost:1901
  ports:
    - "1901:80"